body, html {
    background-color: var(--light-primary);
    margin: 0;
    padding: 0;
}

.nav-bar {
    margin: 0;
    padding: 0px 3%;
    background-color: var(--dark-primary);
    color: var(--light-primary);
    font-family: "Consolas", monospace;
    overflow: hidden;
    height: 15%;
    box-shadow: 0px 10px 20px var(--shadow);
    display: flex;
    align-items: center;
}

.nav-bar>h1 {
    font-size: 40px;
}

.nav-bar>.nav-links {
    font-size: 20px;
    margin-left: auto;
}

.nav-links>ul {
    list-style: none;
}

.nav-links>ul>li {
    display: inline-block;
}

.nav-links a:link {
    color: var(--light-primary);
    text-decoration: none;
}

.nav-links a:visited {
    color: var(--light-primary);
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--light-accent);
    text-decoration: none;
    cursor: pointer;
}
